<section class="caixa">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex">
        <div class="align-self-center">
          <h2>Nossos produtos</h2>
          <p>Nós usamos MDF de reserva particular, assim ajudamos na preservação.</p>
        </div>
      </div>
      <div class="col-md-6">
        <img src="./assets/imagens/maquina1.jfif" width="260">
      </div>
    </div>
  </div>
</section>

<section class="caixa">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex">
        <div class="align-self-center">
          <h2>Materiais em acrílico</h2>
          <p>Nosso material é resistente e tem estilo</p>
        </div>
      </div>
      <div class="col-md-6">
        <img src="./assets/imagens/guio17.jfif" width="260">
      </div>
    </div>
  </div>
</section>

<section class="caixa">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex">
        <div class="align-self-center">
          <h2>Localização</h2>
          <p>Estamos localizados na cidade de Mogi das Cruzes</p>
        </div>
      </div>
      <div class="col-md-6">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.31102504034!2d-46.20180842543233!3d-23.5213132788273!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cdd81018a250f1%3A0x70c875f27126756b!2sR.%20Eng.%20Gualberto%2C%20286%20-%20Centro%2C%20Mogi%20das%20Cruzes%20-%20SP%2C%2008770-300!5e0!3m2!1spt-BR!2sbr!4v1725745072684!5m2!1spt-BR!2sbr"
        width="260" height="260" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</section>

<section class="caixa">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="./assets/imagens/guio7.jfif"width="260">
        <h4>Porta chaves</h4>
        <p>Suas chaves de maneira organizada e fácil de encontrar. Tenha uma maneira de facilitar seu cotidiano.</p>
        <h3>Rápido e simples</h3>
      </div>
      <div class="col-md-4">
        <img src="./assets/imagens/guio6.jfif" width="260">
        <h4>Gaveteiro em MDF</h4>
        <p>A praticidade ao seu alacance! Com este gaveteiro você pode usa-lo para várias funções. Organize seus objetos.</p>
        <h3>Economize espaço</h3>
      </div>
      <div class="col-md-4">
        <img src="./assets/imagens/guio9.jfif" width="260">
        <h4>Prateleira em MDF</h4>
        <p>Ideal para exposição de seus produtos. Material altamente resistente, fácil de montar. Seus produtos com um visual mais moderno.</p>
        <h3>Valorize mais seu espaço</h3>
      </div>
    </div>
  </div>
</section>